* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(30 41 139);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(54 63 151);
}

.title {
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.btn{
    background-color: white;
    padding: 0.5rem 0.4rem;
}

#hang-board{
    padding: 4rem 2rem;
}

.hang-word{
    display: flex;
    justify-content: space-around;
    width: 11rem;
}

.low-dash{
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.game-alert {
  background-color: rgba(9, 165, 154, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-alert-message {
  font-size: 40px;
  font-weight: 600;
  padding: 20px;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset-btn{
  border-radius: 8px;
  border: none;
  color: whitesmoke;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  margin-left: 0.6rem;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 2px 11px 17px 5px rgba(0, 0, 0, 0.48);
  
}

#reset-btn:hover{
  transform: translateY(-0.2rem);
}
